{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<blockquote class="pull-right">
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
</blockquote>
{% endblock %}
