{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<blockquote class="pull-right"><p>{{ 'resetting.password_already_requested'|trans }}</p></blockquote>
{% endblock fos_user_content %}
