{% extends 'ChakoshHomeBundle:Admin:base.html.twig' %}

{% block content %}
    <h1>Options list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>option name</th>
                <th>option value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.optionName }}</td>
                <td>{{ entity.optionValue }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('admin_setting__edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i> edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_setting__new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
