{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/login.css') }}" />
{% endblock %}
<div id="no-result">
    <h1 id="no-result-mess"><span class="glyphicon glyphicon-warning-sign"></span> {{ mess }}</h1>
</div